################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DayZServerController/bin/Debug/net6.0
/DayZServerController/obj
/.vs/DayZServerController
/DayZServerControllerUnitTests
/packages
token.txt
